.layout {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template: auto 1fr / 100%;
}

.search {
  position: relative;
  padding: 8px 16px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contribute {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 36px;
  height: 36px;
}

.contribute > img {
  width: 100%;
  height: 100%;
}

.list {
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: url("../assets/paper_seamless.jpg");
  background-size: 50%;
  background-attachment: local;
}
