.layout {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template: auto 1fr / 100%;
}

.search {
  position: relative;
  padding: 0.5em 1em;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contribute {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 36px;
  height: 36px;
}

.contribute > img {
  width: 100%;
  height: 100%;
}

.list {
  overflow: auto;
  padding-top: 8px;
}
