.list {
  padding: 0.5em;
}

.list :target {
  background: #eee;
}

.list li {
  padding: 0.5em;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
}

.list li + li {
  margin-top: 0.5em;
}
