.list {
  padding: 8px;
}

.list :target {
  background: #eee;
}

.list li {
  padding: 8px;
  background: #fff5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.list li + li {
  margin-top: 16px;
}

.group {
  font-size: 36px;
  margin: 16px 8px 0 16px;
}

.description {
  border-left: 2px solid #000a;
  margin-top: 0.5em;
  padding: 4px 0 4px 8px;
  font-style: italic;
}
